.gradle
.idea
.cxx
local.properties
/*/build
build

android-libsndfile-binaries.zip
aap-guitarix-binaries.zip
androidaudioplugin-debug.aar

dependencies/fluidsynth-deps/
dependencies/fluidsynth/
dependencies/androidaudioplugin-aar/
